<app-navbar></app-navbar>
<div class="home-container">
  <video #videoElement id="promoVideo" autoplay muted playsinline class="background-video">
    <source [src]="backgroundVideoUrl" type="video/mp4" />
    Il tuo browser non supporta i video HTML5.
  </video>
  <div class="dark-overlay"></div>

  <div class="content">
    <h1 class="motto">V3rc1</h1>
    <p class="sub">Eat good. Train consistent. Run hard.</p>

    <!-- Bottone per navigare alla lista prodotti -->
    <button routerLink="/products" class="btn-products">
      Guarda Prodotti
    </button>
  </div>
</div>
