.product-create {
  max-width: 600px;
  margin: auto;

  form {
    display: flex;
    flex-direction: column;

    label {
      margin-top: 1rem;
    }

    input, textarea {
      padding: 0.5rem;
      font-size: 1rem;
    }

    button {
      margin-top: 1.5rem;
      padding: 0.5rem;
      background-color: #3f51b5;
      color: white;
      border: none;
      cursor: pointer;

      &:disabled {
        background-color: #aaa;
      }
    }
  }
}
