<nav class="navbar">
  <div class="logo">V3rc1</div>
  <ul class="nav-links">
    <li><a routerLink="/products">Prodotti</a></li>

    <li *ngIf="isAuthenticated$ | async">
      <a routerLink="/orders">I tuoi ordini</a>
    </li>

    <li *ngIf="isAdmin$ | async">
      <button (click)="navigateToAdmin()">Admin</button>
    </li>

    <div class="actions">
      <button *ngIf="!(isAuthenticated$ | async)" (click)="login()">Accedi</button>
      <button *ngIf="!(isAuthenticated$ | async)" (click)="register()">Registrati</button>
      <button *ngIf="isAuthenticated$ | async" (click)="logout()">Logout</button>
    </div>
  </ul>
</nav>
