<nav class="navbar">
  <div class="logo">V3rc1</div>
  <ul class="nav-links">
    <li><a routerLink="/">NEW IN</a></li>
    <li><a routerLink="/scarpe">Scarpe</a></li>
    <li><a routerLink="/accessori">Accessori</a></li>
    <li><a routerLink="/sport">Sport</a></li>
    <li><a routerLink="/techwear">Streetwear</a></li>
    <li><a routerLink="/promo">PROMO</a></li>
    <div class="actions">
      <button (click)="login()">Accedi</button>
      <button (click)="register()">Registrati</button>
    </div>
  </ul>
</nav>
